bin/
.scala_dependencies
embeddedlib/lib/
targetplatform/repo/
targetplatform/product/
targetplatform/featureExport
updatesite/*.jar
updatesite/features
updatesite/plugins
target/
.directory
logs.zip
*~
