bin/
.scala_dependencies
embedded-lib/lib/
targetplatform/repo/
targetplatform/product/
targetplatform/featureExport
updatesite/*.jar
updatesite/features
updatesite/plugins
target/
.directory
logs.zip
*~
testing/proguard.jar
