<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>      
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.zaluum.ide.themeElementCategory1"
            label="Boxes">
         <description>
            Boxes color preferences
         </description>
      </themeElementCategory>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.standardBackground"
            label="BoxStandard background color"
            value="250,250,250">
         <description>
            FSM background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.composedBackground"
            label="Composed background color"
            value="210,240,240">
         <description>
            Composed box background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.fsmBackground"
            label="FSM background color"
            value="210,240,210">
         <description>
            FSM background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.MathBoxBackground"
            label="MathBox background color"
            value="200,200,10">
         <description>
            MathBox background color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.fontDefinition"
            label="Box font"
            value="Monospace-regular-8">
        <description>
            Box font title
        </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.stateBackground"
            label="State background color"
            value="220,230,240">
         <description>
            State background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.gridColor"
            label="Grid color"
            value="240,240,240">
         <description>
            Composed box background color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.debugFont"
            label="Box debug font">
         <description>
            Debug font
         </description>
      </fontDefinition>
      <fontDefinition
            categoryId="org.zaluum.ide.themeElementCategory1"
            id="org.zaluum.ide.fontConstant"
            label="Constant Box font"
            value="Monospace-regular-12">
         <description>
            Box font title
         </description>
      </fontDefinition>
   </extension>
   <extension
         id="zaluum"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Zaluum Editor">
         <property
               name="appName"
               value="Zaluum Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutText"
               value="Visit http://www.zaluum.com">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/16.gif,icons/32.gif,icons/48.gif,icons/64.gif,icons/128x128.gif">
         </property>
      </product>
   </extension>   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/context.xml"
            plugin="org.zaluum.ide.editor">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.zaluum.ide.ZFileEditor"
            contributorClass="org.zaluum.ide.BaseActionBarContributor"
            default="false"
            extensions="zaluum"
            icon="icons/composed_16.png"
            id="org.zaluum.ide.editor"
            name="Zaluum">
      </editor>
      <editor
            class="org.zaluum.ide.LocalDebugEditor"
            contributorClass="org.zaluum.ide.BaseActionBarContributor"
            default="false"
            extensions="zserver"
            icon="icons/composed_16.png"
            id="org.zaluum.ide.debug"
            name="Debug Editor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.zaluum.ide"
            name="Zaluum">
      </category>
      <wizard
            category="org.zaluum.ide"
            class="org.zaluum.ide.BoxWizard"
            id="org.zaluum.ide.BoxWizard"
            name="Box file">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.zaluum.ide.BoxPerspective"
            icon="icons/composed_16.png"
            id="zaluum.BoxPerspective"
            name="Box Perspective">
      </perspective>
      <perspective
            class="org.zaluum.ide.DebugPerspective"
            icon="icons/debug.png"
            id="zaluum.DebugPerspective"
            name="Debug Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/projectDecorator.png"
            id="zaluum.projectDecorator"
            label="Project Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.zaluum.ide.PlotView"
            id="org.zaluum.ide.plotview"
            name="Plot View"
            restorable="true">
      </view>
      <view
            class="org.zaluum.ide.WatchView"
            id="org.zaluum.ide.watchview"
            name="Watch View"
            restorable="true">
      </view>
   </extension>
   
</plugin>
