<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Zaluum target" sequenceNumber="16">
<locations>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.platform.sdk" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.rcp.feature.group" version="3.7.0.v20110216-9DB5Fm1FpBGy_AaVz-mFamgY"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.7.0.v20110216-9DB5Fm1FpBGy_AaVz-mFamgY"/>
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110613-1736"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum12.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.cdcfoundation11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.javase16.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum10.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.osgiminimum11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se15.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.jre11.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se14.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.fragments.feature.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.j2se13.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.pde.api.tools.ee.cdcfoundation10.group" version="1.0.100.v20110123-7C-FGBF9JgLWWM0LWAWLrL"/>
<unit id="org.eclipse.releng.tools.feature.group" version="3.4.100.v20110503-45-7w31221634"/>
<repository location="http://127.0.0.1/3.7UpdatesMirror"/>
</location>
<location path="${project_loc:targetplatform}/plugins" type="Directory"/>
<location includeAllPlatforms="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.0.v20110425-2050-7G7W-A5WNg9RDcRXDHeSRSTUiNLI"/>
<repository location="http://127.0.0.1/indigoMirror"/>
</location>
<location path="${workspace_loc}/../zaluum-third/scalaToolsMirror-2.9.1" type="Directory"/>
</locations>
</target>
