<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>      
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.zaluum.nide.themeElementCategory1"
            label="Boxes">
         <description>
            Boxes color preferences
         </description>
      </themeElementCategory>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.standardBackground"
            label="BoxStandard background color"
            value="250,250,250">
         <description>
            FSM background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.composedBackground"
            label="Composed background color"
            value="210,240,240">
         <description>
            Composed box background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.fsmBackground"
            label="FSM background color"
            value="210,240,210">
         <description>
            FSM background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.MathBoxBackground"
            label="MathBox background color"
            value="200,200,10">
         <description>
            MathBox background color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.fontDefinition"
            label="Box font"
            value="Monospace-regular-8">
        <description>
            Box font title
        </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.stateBackground"
            label="State background color"
            value="220,230,240">
         <description>
            State background color
         </description>
      </colorDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.gridColor"
            label="Grid color"
            value="240,240,240">
         <description>
            Composed box background color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.debugFont"
            label="Box debug font">
         <description>
            Debug font
         </description>
      </fontDefinition>
      <fontDefinition
            categoryId="org.zaluum.nide.themeElementCategory1"
            id="org.zaluum.nide.fontConstant"
            label="Constant Box font"
            value="Monospace-regular-12">
         <description>
            Box font title
         </description>
      </fontDefinition>
   </extension>
   <extension
         id="zaluum"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Zaluum Editor">
         <property
               name="appName"
               value="Zaluum Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutText"
               value="Visit http://www.zaluum.com">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/16.gif,icons/32.gif,icons/48.gif,icons/64.gif,icons/128x128.gif">
         </property>
      </product>
   </extension>   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/context.xml"
            plugin="org.zaluum.nide.editor">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.zaluum.nide.eclipse.GraphicalEditor"
            contributorClass="org.zaluum.nide.eclipse.BaseActionBarContributor"
            default="false"
            extensions="zaluum"
            icon="icons/composed_16.png"
            id="org.zaluum.nide.editor"
            name="Zaluum">
      </editor>
   <!--   <editor
            class="org.zaluum.nide.debug.DebugEditor"
            contributorClass="org.zaluum.nide.BaseActionBarContributor"
            default="false"
            extensions="zserver"
            icon="icons/composed_16.png"
            id="org.zaluum.nide.debug"
            name="Debug Editor">
      </editor>-->
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.zaluum.nide"
            name="Zaluum">
      </category>
      <wizard
            category="org.zaluum.nide"
            class="org.zaluum.nide.eclipse.BoxWizard"
            id="org.zaluum.nide.eclipse.BoxWizard"
            name="Box file">
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.zaluum.nide.eclipse.BoxPerspective"
            icon="icons/composed_16.png"
            id="zaluum.BoxPerspective"
            name="Box Perspective">
      </perspective>
      <perspective
            class="org.zaluum.nide.eclipse.DebugPerspective"
            icon="icons/debug.png"
            id="zaluum.DebugPerspective"
            name="Debug Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/projectDecorator.png"
            id="zaluum.projectDecorator"
            label="Project Decorator"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="zaluumBuilder"
         name="Zaluum Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.zaluum.nide.eclipse.ZaluumBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="zaluumNature"
         name="Zaluum Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.zaluum.nide.eclipse.ZaluumNature">
         </run>
      </runtime>
      <builder
            id="org.zaluum.nide.zaluumBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.zaluum.nide.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.zaluum.nide.eclipse.ToggleNatureAction"
               enablesFor="+"
               id="org.zaluum.nide.addRemoveNatureAction"
               label="Add/Remove Zaluum Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.zaluum.nide.zaluumProblem"
         name="Zaluum Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   
</plugin>
