<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>      
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.zaluum.nide.themementCategory1"
            label="Zaluum">
         <description>
            Zaluum editor color preferences
         </description>
      </themeElementCategory>
      <colorDefinition
            categoryId="org.zaluum.nide.themementCategory1"
            id="org.zaluum.nide.boxBackgroundColor"
            label="Box default background color"
            value="250,250,250">
         <description>
            Box default background color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.nide.themementCategory1"
            id="org.zaluum.nide.fontDefinition"
            label="Box font"
            value="Monospace-regular-8">
        <description>
            Default font for boxes
        </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.zaluum.nide.themementCategory1"
            id="org.zaluum.nide.gridColor"
            label="Grid color"
            value="240,240,240">
         <description>
            Grid color
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.zaluum.nide.themementCategory1"
            id="org.zaluum.nide.fontConstant"
            label="Literal value font"
            value="Monospace-regular-12">
         <description>
            Font used for direct edit literals
         </description>
      </fontDefinition>
   </extension>
   <extension
         id="zaluum"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Zaluum Editor">
         <property
               name="appName"
               value="Zaluum Editor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="aboutText"
               value="Visit http://www.zaluum.com">
         </property>
         <property
               name="aboutImage"
               value="icons/zaluum_about.gif">
         </property>
         <property
               name="windowImages"
               value="icons/zaluum_icon_16.gif,icons/zaluum_icon_32.gif,icons/zaluum_icon_48.gif,icons/zaluum_icon_64.gif,icons/zaluum_icon_128.gif">
         </property>
         <property
            name="introTitle"
            value="Welcome to Zaluum"/>
         <property
            name="introBrandingImage"
            value="product:icons/zaluum_icon_64.gif"/>
      	  <property
            name="introBrandingImageText"
            value="Zaluum"/>
      </product>
   </extension>   
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/context.xml"
            plugin="org.zaluum.nide.editor">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.zaluum.nide.eclipse.GraphicalEditor"
            contributorClass="org.zaluum.nide.eclipse.BaseActionBarContributor"
            default="true"
            extensions="zaluum"
            icon="icons/zaluum_icon_16.gif"
            id="org.zaluum.nide.editor"
            name="Zaluum Editor">
         <contentTypeBinding
               contentTypeId="org.zaluum.nide.zaluumSource">
         </contentTypeBinding>
      </editor>
   <!--   <editor
            class="org.zaluum.nide.debug.DebugEditor"
            contributorClass="org.zaluum.nide.BaseActionBarContributor"
            default="false"
            extensions="zserver"
            icon="icons/composed_16.png"
            id="org.zaluum.nide.debug"
            name="Debug Editor">
      </editor>-->
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.zaluum.nide"
            name="Zaluum">
      </category>
      <wizard
            category="org.zaluum.nide"
            class="org.zaluum.nide.eclipse.ZaluumNewClassWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/zaluum_new_class.gif"
            id="org.zaluum.nide.eclipse.BoxWizard"
            name="Zaluum Class">
         <description>
            Create a new Zaluum file
         </description>
      </wizard>
      <wizard
            category="org.zaluum.nide"
            class="org.zaluum.nide.eclipse.ZaluumProjectWizard"
            icon="icons/zaluum_new_project.gif"
            id="org.zaluum.nide.eclipse.ProjectWizard"
            name="Zaluum Project"
            project="true">
         <description>
            Create a new Zaluum project
         </description>
      </wizard>
      <primaryWizard
            id="org.zaluum.nide.eclipse.BoxWizard">
      </primaryWizard>
      <primaryWizard
            id="org.zaluum.nide.eclipse.ProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.zaluum.nide.zaluumContributions"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.zaluum.nide.eclipse.RemoveZaluumAction"
               enablesFor="1"
               id="org.zaluum.nide.addRemoveNatureAction"
               label="Remove Zaluum Nature"
               menubarPath="zaluum/actions">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.zaluum.nide.zaluumNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.zaluum.nide.zaluumMenu"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="zaluum"
               label="Zaluum"
               path="additions">
            <separator
                  name="defaultGroup">
            </separator>
         </menu>
         <visibility>
            <objectState
                  name="nature"
                  value="org.zaluum.nide.zaluumNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.zaluum.nide.nonZaluum"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.zaluum.nide.eclipse.AddZaluumAction"
               enablesFor="1"
               id="org.zaluum.nide.eclipse.addZaluumNature"
               label="Convert to Zaluum Project"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="open"
                     value="true">
               </objectState>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="org.zaluum.nide.zaluumNature">
                  </objectState>
               </not>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         id="org.zaluum.nide.zaluumProblem"
         name="Zaluum Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.zaluum.nide.menus.zaluumMenu"
               label="Zaluum"
               mnemonic="M">
            <command
                  commandId="org.zaluum.nide.commands.openGUICommand"
                  id="org.zaluum.nide.menus.openGUICommand"
                  mnemonic="S">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.zaluum.nide.editor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.zaluum.nide.toolbars.zaluumToolbar">
            <command
                  commandId="org.zaluum.nide.commands.openGUICommand"
                  icon="icons/zaluum_open_gui.gif"
                  id="org.zaluum.nide.toolbars.openGUICommand"
                  tooltip="Open GUI">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.zaluum.nide.editor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="org.zaluum.nide.zaluumNature"
         name="Zaluum Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.zaluum.nide.eclipse.ZaluumNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <content-type
            id="org.zaluum.nide.zaluumSource">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.zaluum.nide.commands.openGUICommand"
            contextId="org.zaluum.nide.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.zaluum.nide.commands.category"
            name="Zaluum Editor Commands">
      </category>
      <command
            categoryId="org.zaluum.nide.commands.category"
            id="org.zaluum.nide.commands.openGUICommand"
            name="Open GUI View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.zaluum.nide.zaluumElementCreation"
            label="Zaluum Element Creation"
            visible="true">
         <action
               class="org.zaluum.nide.eclipse.OpenZaluumProjectWizardAction"
               icon="icons/zaluum_new_project.gif"
               id="org.zaluum.nide.zaluumProject"
               label="Zaluum Project..."
               style="push"
               toolbarPath="org.eclipse.jdt.ui.JavaElementCreationActionSet/JavaWizards"
               tooltip="New Zaluum Project">
         </action>
         <action
               class="org.zaluum.nide.eclipse.OpenZaluumNewClassWizardAction"
               icon="icons/zaluum_new_class.gif"
               id="org.zaluum.nide.zaluumClass"
               label="Zaluum Class..."
               style="push"
               toolbarPath="org.eclipse.jdt.ui.JavaElementCreationActionSet/JavaWizards"
               tooltip="New Zaluum Class">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.zaluum.nide.eclipse.OpenGUIHandler"
            commandId="org.zaluum.nide.commands.openGUICommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Zaluum Edit Context"
            id="org.zaluum.nide.context"
            name="Zaluum Editing">
      </context>
   </extension>
   <extension point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
           base-type="org.eclipse.jdt.core.javaSource"
           default-charset="ISO-8859-1"
           file-extensions="zaluum"
           id="org.zaluum.nide.zaluumSource"
           name="Zaluum Source File (for Zaluum Projects)"
           priority="high"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet
               id="org.zaluum.nide.zaluumElementCreation">
         </actionSet>
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.BoxWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.ProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet
               id="org.zaluum.nide.zaluumElementCreation">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.BoxWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.ProjectWizard">
         </newWizardShortcut>
         <actionSet
               id="org.zaluum.nide.zaluumElementCreation">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.BoxWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.zaluum.nide.eclipse.ProjectWizard">
         </newWizardShortcut>
         <actionSet
               id="org.zaluum.nide.zaluumElementCreation">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/zaluum_project_overlay.png"
            id="nide.natureImage"
            natureId="org.zaluum.nide.zaluumNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.zaluum.nide.eclipse.ZaluumImageDecorator"
            id="nide.sourceDecorator"
            label="Zaluum Source File"
            lightweight="false"
            state="true">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.zaluum.nide.eclipse.launch.ZaluumLaunchDelegate"
            delegateDescription="The Zaluum launcher supports running Zaluum applications."
            delegateName="Zaluum Launcher"
            id="org.zaluum.nide.launchZaluumConfigurationType"
            modes="run"
            name="Zaluum Application"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.zaluum.nide.launchZaluumConfigurationType"
            icon="icons/zaluum_icon_16.gif"
            id="nide.zaluumLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.zaluum.nide.eclipse.launch.ZaluumLaunchConfigurationTabGroup"
            description="Launch a Zaluum Application"
            id="org.zaluum.nide.eclipse.launch.zaluumLaunchConfigurationTabGroup"
            type="org.zaluum.nide.launchZaluumConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.zaluum.nide.eclipse.launch.ZaluumLaunchShortcut"
            description="Launch a Zaluum in the given project"
            icon="icons/zaluum_icon_16.gif"
            id="org.zaluum.nide.eclipse.launch.zaluumLaunchShortcut"
            label="Zaluum Application"
            modes="run">
         <description
               description="Run Zaluum for the current file"
               mode="run">
         </description>
         <configurationType
               id="org.zaluum.nide.launchZaluumConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <and>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                        </adapt>
                        <test
                              property="org.eclipse.debug.ui.projectNature"
                              value="org.zaluum.nide.zaluumNature">
                        </test>
                     </and>
                     <instanceof
                           value="org.zaluum.nide.eclipse.integration.model.ZaluumCompilationUnit">
                     </instanceof>
                  </or>
               </iterate>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.zaluum.nide.eclipse.ZaluumClasspathContainerInitializer"
            id="org.zaluum.ZALUUM_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.zaluum.nide.eclipse.ZaluumLibraryClasspathContainerPage"
            id="org.zaluum.ZALUUM_CONTAINER"
            name="Zaluum Library Container">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.zaluum.nide.zaluum">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewExtensionContent.xml"/>  
        
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml"/>  
      
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/samplesExtensionContent.xml"/>
            
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/whatsnewExtensionContent.xml"/>
   </extension>
</plugin>
